.tryer{
    background-color:rgba(1, 109, 68, 0.479) ;
    text-align: center;
}
.trjm{
text-align: center;
text-decoration: none!important;
color: black;
}
.trjm:hover{
    background-color: rgba(5, 148, 105, 0.24);
    color: rgb(104, 96, 96);
}
.trjmab{
    text-decoration: none!important;
    color: black;
    text-align: center;
}
.trjmab:hover{
   color: rgb(104, 96, 96);
}
.isp{
    margin-left: 30px;
}
